<nav class="navbar container sticky-top navbar-expand-lg navbar-light" style="background-color: inherit">
  {% if page.chapter %}
  <header class="chapter-header">    
    <h1 class="chapter-title" itemprop="name headline">{{ page.chapter | escape }}</h1>
    <h6 class="text-muted">Chapter {{page.chapter_number}}</h6>
  </header>
  {% endif %}
  <header class="course-header">    
    <h1 class="course-class">{{ page.courseSubject | escape }}</h1>
    <h6 class="course-subject">Class {{ page.courseClass | escape }}</h6>
  </header>

  <a class="navbar-brand" href="/">{{site.title}}</a>
</nav>
